<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\112.124.112.166\Weixin\Game\HZGift\Data\Database.mdb;Persist Security Info=False"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="appid" value="wx02325e359f7c9c4c"/>
    <add key="secret" value="ef48f7cf1451e2d23b80c03789288870"/>
    <add key="password" value="123"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
</configuration>
